html, body, img{
  /* IE */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)" /* IE 8+ */;
  filter: none !important; /* IE 7 and the rest of the world */
  /* Chrome, Safari */
  -webkit-filter: none!important;
  /* Firefox */
  filter: none!important;

  filter:none!important;
  -webkit-filter: none!important;

}
